# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"
Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box_check_update = false

  config.ssh.default.username = "provision"
  config.ssh.default.private_key_path = "#{ENV['HOME']}/mine/config/provision/.ssh/provision_rsa"
end
