# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box_check_update = false

  config.ssh.default.username = "provision"
  config.ssh.default.private_key_path = "#{ENV['HOME']}/mine/syst/users/provision/.ssh/provision_rsa"
end
